{
  "presets": [
    "@babel/preset-env",
    "@babel/preset-typescript",
    "@babel/preset-react"
  ],
  "plugins": [
    ["babel-plugin-root-import", {
      "paths": [
        {
          "rootPathSuffix":"./",
          "rootPathPrefix":"@root"
        },
        {
          "rootPathSuffix":"./resources",
          "rootPathPrefix":"@resources",
        },
        {
          "rootPathSuffix":"./src",
          "rootPathPrefix":"@src"
        }
      ]
    }]
  ]
}
